body{
    background-color: black;
    height: 100vh;


}

div{

    margin: 10px;
}

div.kirmizi{
    background-color: red;
    width: 70%;
    height: 300px;
    float: left;
}
div.turuncu{
    background-color: rgb(204, 109, 37);
    width: 25%;
    height: 620px;
    float: right;
}
div.yesil{
    background-color: rgb(0, 255, 98);
    width: 34%;
    height: 300px;
    float: left;

}
