body{
    background-color: rgb(45, 42, 42);
    height: 100vh;
}
div{
    background-color: rgb(22, 139, 54);
    width: 32%;
    height: 49vh;
    margin: 5px;
    float: left;
}
div.kirmizi{
    background-color: rgb(189, 46, 46);
}
div.turuncu{
    background-color: rgb(153, 75, 26);
}
div.sari{
    background-color: rgb(187, 189, 46);
}